* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

:root {
    /* Color Variables */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /* Font Variables */

    --fs-xs: clamp(0.75rem, 1vw + 0.25rem, 1rem);
    --fs-sm: clamp(0.875rem, 1vw + 0.375rem, 1.125rem);

    --fs-lg: clamp(1.25rem, 1vw + 0.75rem, 1.5rem);

    --fs-md: clamp(2rem, 3vw, 2.5rem);
    --fs-xl: clamp(2.5rem, 4vw, 3rem);
    --fs-xxl: clamp(3rem, 6vw, 5rem);






    /* Font Weight Variables */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;
}







/* @media screen and (max-width: 375px) {

    
}
@media screen and (max-width: 764px) {

    
}

@media screen and (max-width: 1024px) {

    
}
@media screen and (max-width: 1440px) {

    
} */